@media (max-width: 320px) {
    #menu{
        font-size: 6px !important;
    }

}
@media (max-width: 768px) {
    #header-title{
        font-size: 7px;
    }

}

@media (max-width: 600px) {
    *{
        font-size: 6px !important;
    }
    #header-title {
        width: 50%;
    }
    #escudoUNAM img {
        width: 37%;
    }

}
@media (min-width: 600px) and (max-width: 768px) {
    #header-title {
        width: 35%;
    }
    #menu{font-size:9px;}
    *{
        font-size: 9px !important;
    }

}
@media (min-width: 600px) and (max-width: 768px) , (max-width: 600px) and (orientation: landscape) {
    #escudoUNAM img {
        width: 20%;
    }
}
@media (min-width: 768px) and (max-width: 900px){
    #header-title {
        width: 43%;
    }
}
@media (min-width: 900px) and (max-width: 1024px){
    #header-title {
        width: 27%;
    }
}
@media  (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {

    #menu{
        font-size:0.8em;
    }

}
@media (min-width: 768px) and (max-width: 1024px) , (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {

    #menu{
        font-size:0.8em;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) , (max-width: 600px) and (orientation: landscape) {
    #header-title {
        width: 32%;
    }
}
@media (min-width: 2560px) {
    #escudoUNAM img {
        width: 10%;
    }
}
